@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: #fff;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4d26;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff4d26;
}

/* Header Starts Here */
.nav-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
header nav ul li .nav-link {
  position: relative;
  z-index: 0;
  transition: all 0.3s ease-out;
}

header nav ul li .nav-link.active {
  color: #ff4d26;
}

header nav ul li .nav-link.active::before {
  content: "";
  width: 150%;
  height: 180%;
  position: absolute;
  opacity: 1;
  left: -25%;
  top: -40%;
  z-index: -1;
  background-color: #3e2723;
  border-radius: 10px;
}

header nav ul li .nav-link:hover {
  color: #ff4d26;
}

header nav ul li .nav-link::before {
  content: "";
  width: 150%;
  height: 180%;
  position: absolute;
  left: -25%;
  top: -40%;
  z-index: -1;
  opacity: 0;
  background-color: #3e2723;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

header nav ul li .nav-link:hover::before {
  content: "";
  width: 150%;
  height: 180%;
  position: absolute;
  opacity: 1;
  left: -25%;
  top: -40%;
  z-index: -1;
  background-color: #3e2723;
  border-radius: 10px;
}
/* Header Ends Here */

/* Main Starts Here */
.hero-section {
  background-color: #3e2723;
  box-shadow: inset 0px 20px 20px 12px #00000061;
}
.hero-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.hero-img-block {
  background-image: url("./assets/images/hero-img.jpg");
  box-shadow: inset 0px 0px 17px 15px #101010f2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 22px;
}

.reserve-btn {
  padding: 10px 20px;
  background-color: #ff4d26;
  border-radius: 12px;
  display: inline-block;
  transition: all 0.3s ease;
}

.reserve-btn:hover {
  background-color: #e3e3e3;
}

.card-btn {
  padding: 10px 20px;
  background: #ff4d26;
  border-radius: 100px;
  display: block;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.3s ease-in;
}
.card-btn:hover {
  background-color: #e3e3e3;
}
.card-btn:hover span {
  transition: all 0.3s ease-in;
  color: #fff;
}

.card-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.testimonials-section {
  background-color: #3e2723;
}

.cirlceProfile {
  position: absolute;
  z-index: 3;
  width: 150px;
  height: 150px;
  background-color: #fff;
  box-shadow: inset 0px 0px 11px 3px #6e6e6e;
  border-radius: 100px;
  top: -80px;
  border: 8px solid #ff4d26;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.splide__pagination {
  bottom: -45px !important;
}
.splide__pagination__page.is-active {
  background-color: #ff4d26 !important;
}
/* Main Ends Here */

/* Footer Starts Here */
.footer-grid {
  display: grid;
  grid-template-columns: 1.25fr 1fr 1fr 1fr;
}
/* Footer Ends Here */
